<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.torch.supermusic.mapper.SingerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.torch.supermusic.entity.Singer">
        <id column="id" property="id" />
        <result column="singer_name" property="singerName" />
        <result column="nationality" property="nationality" />
        <result column="birth_address" property="birthAddress" />
        <result column="sex" property="sex" />
        <result column="profile" property="profile" />
        <result column="icon" property="icon" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, singer_name, nationality, birth_address, sex, profile, icon
    </sql>

</mapper>
